*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    margin-left:20px;
    margin-bottom: 15px;
}

/* header */

.container-header{
  width: 100%;
  height: 170px;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-color: blue;
  position:relative;
  margin-bottom: 20px;
}  

.logo-text{
    width: 300px;
    position: absolute;
    left: 5px;
    bottom: 20px;
}

h1{
    font-size: 30px; 
}


.testo-grigio{
    color: darkgrey;
    margin-bottom: 10px;
}

.color{
    color:  blue;
}

/* corpo  */


.testo-evidenziato{
    background-color: yellow;
}

/* tabella */

table{
    border-collapse: collapse;
}

th{
    background-color: blue;
    color: white;
}

th{
    text-align: left;
    width: 32%
}

.row1{
    background-color: lightskyblue;
}

/* footer */
footer h3{
    color: darkgrey;
}

.footer-img{
    position:relative;
    margin-bottom: 10px;
}

.text-img{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding:10px 0 0 10px;
}